amqp==5.3.1
asgiref==3.7.2
beautifulsoup4==4.12.3
billiard==4.2.1
bs4==0.0.2
celery==5.4.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cron-descriptor==1.4.5
distlib==0.3.8
Django==5.0.2
django-celery-beat==2.7.0
django-timezone-field==7.1
filelock==3.13.1
gunicorn==23.0.0
idna==3.10
kombu==5.4.2
logging==0.4.9.6
packaging==24.2
platformdirs==4.2.0
prompt_toolkit==3.0.48
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-decouple==3.8
redis==5.2.1
requests==2.32.3
six==1.17.0
soupsieve==2.6
sqlparse==0.4.4
tzdata==2024.1
urllib3==2.2.3
uv==0.2.6
vine==5.1.0
virtualenv==20.25.1
wcwidth==0.2.13
