{% extends "pricewise/home.html" %}
{% block content %}
    {% if messages %}
    <ul style="color: red;">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label>Email:</label>
        <input type="email" name="email" required>
        <br>
        <label>Password:</label>
        <input type="password" name="password" requires>
        <br>
        <button type="submit">Login</button>
    </form>
    {% endblock content %}