{% extends "pricewise/home.html" %}
{% block style %}
    *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Roboto", sans-serif;
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 100vh;
        height:80%;
    }   

    .wrapper{
        width:420px;
        background:transparent;
        box-shadow: 0 0 10px rgb(54, 69, 79, 0.2);
        border-radius: 10px;
        border:2px solid rgb(2, 48, 32, .1);
        padding:30px 40px;
        backdrop-filter: blur(5px);
    }   

    .wrapper a{
        text-decoration:none;
        color:inherit;
        display:flex;
        justify-content: center;
    }   


    a:hover{
        cursor: pointer;
    }   


    .wrapper h1{
        display:flex;
        justify-content:center;
        color:#023020;
    }   

    .wrapper .input-box{
        display: flex;
        gap: 10px;
        width: 100%;
    }   

    input{
        width: 100%;
        border-radius: 16px;
        border: 2px solid rgb(2, 48, 32, .1);
        font-size: 16px;
        padding: 10px 0 10px 16px;
        margin: 10px 0;
    }   


    input::placeholder{
        color: #C7C7CD ;
    }

    input:focus{
        outline: none;
        border: 2px solid #023020;
    }

    .wrapper .btn{
        width:100%;
        height:45px;
        background:#333;
        border:none;
        outline:none;
        border-radius:40px;
        cursor:pointer;
        font-size:16px;
        color:#fff;
        font-weight: 600;
        margin: 10px 0;
    }   

    .wrapper .login{
        font-size:14.5px;
        text-align:center;
        margin:10px 0px;
    }   

    .login a{
        color:#023020;
        text-decoration: none;
        font-weight: 450;
    }   

    .login a:hover{
        text-decoration:underline;
}
{% endblock style %}

{% block content %}
<body>
    <div class="wrapper">
        <a href="/"><i class='bx bx-home-alt'></i></a>
        <h1>Register</h1>
        <form action="{% url "accounts:register" %}" method="post">
            {% csrf_token %}
            <div class="input-box">
                {{form.username}}
            </div>
            <div class="input-box">
                {{form.email}}
            </div>
            <div class="input-box">
                {{form.password1}}
            </div>
            <div class="input-box">
                {{form.password2}}
            </div>
            <button type="submit" class="btn">SIGNUP</button>
            <div class="login">
                <a href="{% url "accounts:login" %}">Already Have an Account?</a>
            </div>
        </form>
    </div>
{% endblock content %}